section.Detail-content1 {
    margin-top: 20px;
    font-size: 11px; }
  
  .container.Detail-content1--One--container {
    display: flex; }
  
  p.Detail-content1--One--container__p2 {
    padding-left: 3px;
    color: #68ba8f;
    font-weight: 500; }
  
  .Detail-content--Two--container--displaycolOne--rwoTwoimg {
    margin: 30px 0px 0px -10px; }
    .Detail-content--Two--container--displaycolOne--rwoTwoimg img {
      margin: 0px 0px 0px 10px; }
  
  p.Detail-content--Two--container--displaycolTwo__p1 {
    font-size: 15px; }
  
  .Detail-content--Two--container--displaycolTwo--star {
    color: #f7bb3f;
    margin: -10px 0px 0px 0px;
    font-size: 10px; }
  
  .Detail-content--Two--container--displaycolTwo--rate {
    display: flex; }
  
  p.Detail-content--Two--container--displaycolTwo--rate__p1 {
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    color: #ed1c24;
    font-weight: 500; }
  p.Detail-content--Two--container--displaycolTwo--rate__p2 {
    margin: 14px 0px 0px 10px;
    text-decoration: line-through; }
  
  hr.Detail-content--Two--container--displaycolTwo__hr {
    color: #e1e1e1; }
  
  .Detail-content--Two--container--displaycolTwo--Three {
    display: flex; }
  
  p.Detail-content--Two--container--displaycolTwo--Three__p {
    margin: 0px 0px 0px 0px;
    font-size: 15px; }
  
  .Detail-content--Two--container--displaycolTwo--Three--One {
    padding: 5px 15px 10px 15px;
    margin: -3px 0px 0px 20px;
    border: 1px solid #e1e1e1; }
  
  .Detail-content--Two--container--displaycolTwo--Three--Two {
    padding: 5px 30px 10px 30px;
    margin: -3px 0px 0px 20px;
    border: 1px solid #e1e1e1; }
  
  .Detail-content--Two--container--displaycolTwo--Three--Three {
    padding: 5px 15px 10px 15px;
    margin: -3px 0px 0px 20px;
    border: 1px solid #e1e1e1; }
  
  .Detail-content--Two--container--displaycolTwo--Three {
    margin: 20px 0px 20px 0px; }
  
  .Detail-content--Two--container--displaycolTwo--Four {
    display: flex;
    position: relative; }
  
  p.Detail-content--Two--container--displaycolTwo--Four__p {
    background: #3fb871;
    padding: 12px 30px 12px 30px;
    text-transform: uppercase;
    color: white;
    border-radius: 30px; }
  
  .Detail-content--Two--container--displaycolTwo--Four i.fa.fa-search {
    position: absolute;
    top: 0;
    left: 130px;
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    line-height: 40px;
    text-align: center; }
  .Detail-content--Two--container--displaycolTwo--Four i.fa.fa-heart {
    position: absolute;
    top: 0;
    left: 180px;
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    line-height: 40px;
    text-align: center; }
  
  .col-xs-7.col-sm-7.col-md-7.col-lg-7.Detail-content--Two--container--displaycolTwo {
    margin: 10px 0px 0px 0px; }
  
  /* DETAIL content2 */
  section.Detail-content2 {
    margin: 85px 0px 0px 29px; }
  
  .row.Detail-content2--container--row {
    margin: 0px 0px 0px 0px;
    text-transform: uppercase; }
  
  p.Detail-content2--container--row__p2 {
    margin: 0px 0px 0px 60px;
    padding: 15px 0px 0px 0px; }
  p.Detail-content2--container--row__p1 {
    padding: 15px 70px 0px 70px;
    color: #3fb871; }
  p.Detail-content2--container--row__p3 {
    margin: 0px 0px 0px 60px;
    padding: 15px 0px 0px 0px; }
  
  .container.Detail-content2--container {
    border: 1px solid #e1e1e1;
    padding: 0; }
  
  .Detail-content2--container--Two {
    font-size: 11px;
    margin: 20px 0px 0px 35px;
    padding: 0px 85px 0px 0px; }
  
  .Detail-content2--container--row {
    position: relative; }
  
  .Detail-content2--container--row__p1::after {
    position: absolute;
    content: '';
    top: -2px;
    left: 0;
    height: 3px;
    background: #7d7d7d;
    width: 27%; }
  
  .Detail-content3--containe--Two {
    display: flex;
    position: relative;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 30px 0px; }
  
  .card-deck.Detail-content3--containe--Two--card-deck--Two {
    margin: 0px 0px 0px 275px; }
  .card-deck.Detail-content3--containe--Two--card-deck--Three {
    margin: 0px 0px 0px 4px; }
  .card-deck.Detail-content3--containe--Two--card-deck--Four {
    margin: 0px 0px 0px 5px; }
  
  img.Detail-content3--containe--Two--card-deck--card__img {
    width: auto; }
  
  .col-xs-9.col-sm-9.col-md-9.col-lg-9 {
    margin: 0px 0px 0px 160px; }
  
  .card-deck.Detail-content3--containe--Two--card-deck--One {
    position: absolute;
    top: 0;
    left: 0; }
  
  section.Detail-content3 {
    margin: 68px 0px 0px 0px; }
  
  p.Detail-content3--containe--One__p {
    color: #3fb871;
    font-weight: 500; }
  
  .card.Detail-content3--containe--Two--card-deck--card {
    text-align: center; }
  
  p.Detail-content3--containe--Two--card-deck--card__p {
    margin: 15px 0px 0px 0px; }
  
  .Detail-content3--containe--Two--card-deck--card--star {
    color: #febf01;
    font-size: 11px; }
  
  .Detail-content3--containe--Two--card-deck--card--rate {
    display: flex; }
  
  p.Detail-content3--containe--Two--card-deck--card--rate__p1 {
    margin: 0px 0px 0px 60px;
    color: #ed1c24;
    font-weight: 500; }
  p.Detail-content3--containe--Two--card-deck--card--rate__p2 {
    margin: 5px 0px 0px 11px;
    text-decoration: line-through;
    font-size: 11px; }
  
  hr.Detail-content3--containe--One__hr {
    position: relative; }
  
  .Detail-content3--containe--One__hr::after {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    background: #3fb871;
    height: 3px;
    width: 20%; }
  
  .Detail-content3--containe--One {
    position: relative; }
  
  .Detail-content3--containe--One--containIcoin {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px; }
  
  /*# sourceMappingURL=detail.css.map */
  